= link_to "New game", new_game_path, remote: true
%div#game_form{ style: "display: none;" }


- if @cash_accounts
	= render partial: "cash_account"
	= render partial: "form_for_static_game"	
- else 
	=link_to "Create cash account", new_cash_account_path


%div#games=render @games
	
= render partial: "top_win"